:root {
  --main-font-stack: "Rubik", "Helvetica Neue", "Helvetica", sans-serif;

  --search-bar-label-font-size: 5rem;
  --search-bar-in-main-font-size: 1.5rem;
  --error-title-font-size: 2rem;
  --error-message-font-size: 1rem;
  --location-font-size: 2rem;
  --temp-font-size: 7rem;
  --description-font-size: 1.5rem;
  --high-low-temp-font-size: 1.25rem;
  --ten-day-label-font-size: 0.85rem;
  --ten-day-font-size: var(--high-low-temp-font-size);
  --long-description-font-size: 0.9rem;
  --hour-time-font-size: 0.8rem;
  --hour-font-size: 1.25rem;

  --search-bar-width: 15rem;
  --search-button-width: 1rem;
  --error-icon-width: 5rem;
  --spinner-diameter: 5rem;
  --spinner-thickness: 8px;
  --desktop-content-width: 45rem;
  --ten-day-wrapper-width: calc(var(--ten-day-font-size) * 10);
  --mobile-content-width: var(--search-bar-width);

  --main-bg-color: white;
  --main-text-color: black;
  --header-shadow-color: rgba(0, 0, 0, 0.15);
  --footer-border-color: rgba(0, 0, 0, 0.15);
  --search-unfocus-color: #6c757d;
  --error-message-text-color: rgba(0, 0, 0, 0.6);
  --spinner-light-color: rgba(0, 0, 0, 0.2);
  --spinner-dark-color: black;
  --ten-day-border-color: rgba(0, 0, 0, 0.3);
  --ten-day-label-color: var(--ten-day-border-color);
  --hour-border-color: var(--ten-day-label-color);
  --api-link-color: #6c757d;
  --api-link-hover-color: black;
}

html {
  font-family: var(--body-font-stack);
  height: 100%;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header,
.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.main-header {
  box-shadow: 0 2px 2px var(--header-shadow-color);
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-wrapper.in-main {
  flex-direction: column;
  justify-content: center;
}

.search-bar-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  flex-grow: 1;
  align-self: stretch;
  padding: 0 1.25rem;
}

.search-bar-label {
  font-size: var(--search-bar-label-font-size);
  text-align: center;
  margin-bottom: 1rem;
}

.search-bar {
  width: var(--search-bar-width);
  border: solid var(--search-unfocus-color) 1.75px;
  border-radius: 10px;
  padding: 0 1rem;
  color: var(--search-unfocus-color);
}

.in-main .search-bar {
  font-size: var(--search-bar-in-main-font-size);
  border-width: 2px;
  flex: 1 1 0;
}

.search-bar:hover,
.search-bar:focus {
  border-color: var(--main-text-color);
  color: var(--main-text-color);
}

/* styling the autofill bg color for some browsers */
.search-bar:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--main-bg-color) inset;
  -webkit-text-fill-color: var(--main-font-stack);
  transition: background-color 5000s ease-in-out 0s; /* prevents flicker */
}

.search-button {
  background: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  cursor: pointer;
}

.search-button-icon {
  width: var(--search-button-width);
  height: auto;
  stroke: var(--search-unfocus-color);
}

.in-main .search-button-icon {
  width: calc(var(--search-button-width) * 2);
}

.search-button-icon:hover {
  stroke: var(--main-text-color);
  transform: scale(1.05);
  transition: 0.08s ease;
}

.search-button-icon:active {
  transform: scale(0.9);
  transition: 0.08s ease;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
  max-width: var(--desktop-content-width);
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.error-icon {
  width: var(--error-icon-width);
  height: auto;
}

.error-title {
  font-size: var(--error-title-font-size);
  white-space: nowrap;
}

.error-msg {
  color: var(--error-message-text-color);
  font-size: var(--error-message-font-size);
  text-align: center;
}

.error-query {
  display: inline;
  /* using both word-vreak and overflow-wrap for browser compatibility */
  word-break: break-word;
  overflow-wrap: anywhere;
}

.spinner {
  width: var(--spinner-diameter);
  height: var(--spinner-diameter);
  /* Light segment of spinner */
  border: var(--spinner-thickness) solid #ccc;
  /* Dark segment of circle */
  border-top-color: black;
  /* makes the spinner a circle */
  border-radius: 50%;
  /* animation to continuously rotate */
  animation: spin 1s linear infinite;
}

/* Keyframes for rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.today-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 10rem;
}

.location {
  font-size: var(--location-font-size);
}

.temp {
  font-size: var(--temp-font-size);
  position: relative;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

/* styling degree symbol in CSS to prevent it from affecting alignment of the text */
.temp::after {
  content: "°";
  position: absolute;
  right: -0.8ch;
}

.description {
  font-size: var(--description-font-size);
}

.hilo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--high-low-temp-font-size);
  gap: 0.6rem;
}

.ten-day-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.6rem;
  border: solid var(--ten-day-border-color) 1px;
  border-radius: 10px;
}

.ten-day-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ten-day-label-icon {
  height: calc(var(--ten-day-label-font-size) * 1.3);
  width: auto;
  fill: var(--ten-day-label-color);
}

.ten-day-label-text {
  font-size: var(--ten-day-label-font-size);
  color: var(--ten-day-label-color);
}

.ten-day-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.day-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: var(--ten-day-wrapper-width);
  font-size: var(--ten-day-font-size);
  padding-top: 0.3rem;
  gap: 1rem;
  border-top: solid var(--ten-day-label-color) 1px;
}

.day-title {
  white-space: nowrap;
  width: calc(var(--ten-day-font-size) * 2.5);
}

.day-icon {
  height: var(--ten-day-font-size);
  width: auto;
  margin: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

/* Due to viewbox, cloudy icon was scaling disproportionately */
.cloudy {
  transform: scale(0.7);
}

.day-hourly-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: solid var(--ten-day-border-color) 1px;
  border-radius: 10px;
  /* On desktop layout, we want this element to span both columns*/
  grid-column: 1 / 3;
  margin-top: 2rem;
}

.long-description {
  font-size: var(--long-description-font-size);
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  border-bottom: solid var(--hour-border-color) 1px;
}

.hour-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 0.1rem;
  /* prevent scrollbar from hour content from obscuring content */
  padding-bottom: 1rem; /* adjust as needed */
  box-sizing: border-box;
}

.hour-content-wrapper {
  position: relative;
  min-width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.hour-title {
  font-size: var(--hour-time-font-size);
  letter-spacing: -1px;
}

.hour-icon {
  height: var(--hour-font-size);
  width: auto;
  margin: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

.hour-temp {
  font-size: var(--hour-font-size);
}

/* styling degree symbol in CSS to prevent it from affecting alignment of the text */
.hour-temp::after {
  content: "°";
  position: absolute;
  right: 0.55ch;
}

.main-footer {
  text-align: center;
  border-top: solid 1.5px var(--footer-border-color);
}

.src-link,
.src-link:visited {
  color: var(--api-link-color);
  transition: 0.08s ease;
  /* Fixing mobile safari wonkiness with link colors */
  -webkit-text-fill-color: var(--api-link-color);
}

.src-link:hover,
.src-link:focus {
  color: var(--api-link-hover-color);
  -webkit-text-fill-color: var(--api-link-hover-color);
}

.src-link:hover {
  transform: scale(1.05);
  transition: 0.08s ease;
}

.src-link:active {
  transform: scale(1);
  transition: 0.08s ease;
}

.hidden {
  display: none;
}

@media (max-width: 725px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .today-content {
    margin-right: 0;
  }

  .in-main .search-bar-input-wrapper {
    align-self: center;
  }

  .in-main .search-bar {
    flex-grow: 0;
  }

  .search-bar-label {
    font-size: calc(var(--search-bar-label-font-size) * 0.8);
  }

  .ten-day-content {
    max-width: var(--mobile-content-width);
  }

  .day-hourly-content {
    width: var(--mobile-content-width);
    grid-row: 2 / 3;
    /* On mobile, we want this element to be above the ten day forecast */
    grid-column: 1 / 2;
    margin-bottom: 2rem;
  }
}
